# Fusion: Merge

In [ ]:
import pandas as pd

registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

print(registrations)
print()
print(logins)

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Claire
3       4   David

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [ ]:
# inner
inner_df = pd.merge(registrations, logins, how='inner', on='name')
inner_df

   reg_id    name  log_id
0       1  Andrew       2
1       2    Bobo       4

In [ ]:
# left
left_df = pd.merge(registrations, logins, how='left', on='name')
left_df

   reg_id    name  log_id
0       1  Andrew     2.0
1       2    Bobo     4.0
2       3  Claire     NaN
3       4   David     NaN

In [ ]:
# right
right_df = pd.merge(registrations, logins, how='right', on='name')
right_df

   reg_id     name  log_id
0     NaN   Xavier       1
1     1.0   Andrew       2
2     NaN  Yolanda       3
3     2.0     Bobo       4

In [ ]:
# outer
outer_df = pd.merge(registrations, logins, how='outer', on='name')
outer_df

   reg_id     name  log_id
0     1.0   Andrew     2.0
1     2.0     Bobo     4.0
2     3.0   Claire     NaN
3     4.0    David     NaN
4     NaN   Xavier     1.0
5     NaN  Yolanda     3.0

# Merge on index or column

In [ ]:
registrations.set_index('name', inplace=True)
registrations

        reg_id
name
Andrew       1
Bobo         2
Claire       3
David        4

In [ ]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [ ]:
pd.merge(registrations, logins, how='inner', left_index=True, right_on='name')

   reg_id  log_id    name
1       1       2  Andrew
3       2       4    Bobo

In [ ]:
pd.merge(logins, registrations, how='inner', right_index=True, left_on='name')

   log_id    name  reg_id
1       2  Andrew       1
3       4    Bobo       2