In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [ ]:
url = 'https://raw.githubusercontent.com/moncoachdata/MasterClass_DS_ML/main/hotel_booking_data.csv'
hotels = pd.read_csv(url)

In [ ]:
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [ ]:
hotels.shape

(119390, 36)

**Combien y-a-t-il de lignes ?**

In [ ]:
hotels.shape[0]

119390

**Y a-t-il des données manquantes ? Si oui, quelle colonne a le plus de données manquantes ?**

In [ ]:
hotels.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [ ]:
hotels.company.isna().sum()

112593

**Supprimer la colonne "company" de l'ensemble de données**

In [ ]:
hotels = hotels.drop(columns=['company'])
hotels.shape

(119390, 35)

**Quels sont les 5 codes pays les plus fréquents dans l'ensemble de données ?**

In [ ]:
hotels.country.value_counts().head()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

**Quel est le nom de la personne qui a payé le tarif journalier moyen le plus élevé ? Quel était ce montant ?**

In [ ]:
hotels.adr.nlargest(n=1)

48515    5400.0
Name: adr, dtype: float64

In [ ]:
hotels[(hotels.adr==5400)]['name']

48515    Daniel Walter
Name: name, dtype: object

**L'adr est le tarif journalier moyen pour le séjour d'une personne à l'hôtel. Quelle est la moyenne de l'adr pour tous les séjours à l'hôtel de l'ensemble de données ?**

In [ ]:
hotels.adr.mean().round(2)

101.83

**Quel est le nombre moyen de nuits pour un séjour dans l'ensemble de données ?**

In [ ]:
hotels[['stays_in_week_nights','stays_in_weekend_nights']].mean(axis=0).round(2)

stays_in_week_nights       2.50
stays_in_weekend_nights    0.93
dtype: float64

In [ ]:
hotels.stays_in_week_nights.add(hotels.stays_in_weekend_nights).mean().round(2)

3.43

**Quel est le coût total moyen d'un séjour dans l'ensemble de données ?**

In [ ]:
hotels.adr.mul(hotels.stays_in_week_nights.add(hotels.stays_in_weekend_nights)).mean().round(2)

357.85

**Quels sont les noms et les emails des personnes qui ont fait 5 "demandes/requêtes spéciales" ?**

In [ ]:
hotels['total_of_special_requests'].value_counts()

0    70318
1    33226
2    12969
3     2497
4      340
5       40
Name: total_of_special_requests, dtype: int64

In [ ]:
hotels[hotels.total_of_special_requests==5][['name', 'email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

**Quel est le pourcentage de séjours à l'hôtel classés comme "clients réguliers / repeat guests" ?**

In [ ]:
hotels['is_repeated_guest'].mul(100).mean()

3.191222045397437

**Quels sont les 5 noms de famille les plus courants dans l'ensemble de données ?**

In [ ]:
hotels['name'].str.split().str[-1].value_counts().head()

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: name, dtype: int64

**Quels sont les noms des personnes qui avaient réservé pour le plus grand nombre d'enfants et de bébés pour leur séjour ?**

In [ ]:
hotels['total_kids'] = hotels['babies'].add(hotels['children'])

In [ ]:
hotels[hotels['total_kids']>= 9][['name', 'babies', 'children', 'total_kids']]

                  name  babies  children  total_kids
328      Jamie Ramirez       0      10.0        10.0
46619  Nicholas Parker      10       0.0        10.0
78656    Marc Robinson       9       0.0         9.0

In [ ]:
hotels.sort_values(by=['babies', 'children'], ascending=False)[['name','babies', 'children']].head()

                     name  babies  children
46619     Nicholas Parker      10       0.0
78656       Marc Robinson       9       0.0
84429   Jonathan Williams       2       1.0
84591         Rachel Ward       2       1.0
107837      Albert French       2       1.0

***Quels sont les 3 indicatifs de région les plus courants dans les numéros de téléphone ?***

In [ ]:
hotels['phone-number'].apply(lambda x: x[:3]).value_counts().head(3)

799    168
185    167
541    166
Name: phone-number, dtype: int64

**Combien d'arrivées ont eu lieu entre le 1er et le 15 du mois (1er et 15 inclus) ?**

In [ ]:
hotels['arrival_date_day_of_month'].between(1, 15, inclusive='both').sum()

58152

**Créer un tableau de comptage pour chaque jour de la semaine où des personnes sont arrivées.**

In [ ]:
hotels.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'total_kids'],
      dtype='object')

In [ ]:
hotels[['arrival_date_day_of_month', 'arrival_date_week_number', 'arrival_date_month']]

        arrival_date_day_of_month  arrival_date_week_number arrival_date_month
0                               1                        27               July
1                               1                        27               July
2                               1                        27               July
3                               1                        27               July
4                               1                        27               July
...                           ...                       ...                ...
119385                         30                        35             August
119386                         31                        35             August
119387                         31                        35             August
119388                         31                        35             August
119389                         29                        35             August

[119390 rows x 3 columns]

In [ ]:
days = ['Mon', 'Tue', 'Wen', 'Thr', 'Fri', 'Sat', 'Sun'] * 5
week_dict = {k:v  for k, v in list(zip(range(1, 32), days))} 
week_dict

{1: 'Mon',
 2: 'Tue',
 3: 'Wen',
 4: 'Thr',
 5: 'Fri',
 6: 'Sat',
 7: 'Sun',
 8: 'Mon',
 9: 'Tue',
 10: 'Wen',
 11: 'Thr',
 12: 'Fri',
 13: 'Sat',
 14: 'Sun',
 15: 'Mon',
 16: 'Tue',
 17: 'Wen',
 18: 'Thr',
 19: 'Fri',
 20: 'Sat',
 21: 'Sun',
 22: 'Mon',
 23: 'Tue',
 24: 'Wen',
 25: 'Thr',
 26: 'Fri',
 27: 'Sat',
 28: 'Sun',
 29: 'Mon',
 30: 'Tue',
 31: 'Wen'}

In [ ]:
hotels.arrival_date_day_of_month.value_counts().sort_index()

1     3626
2     4055
3     3855
4     3763
5     4317
6     3833
7     3665
8     3921
9     4096
10    3575
11    3599
12    4087
13    3745
14    3819
15    4196
16    4078
17    4406
18    4002
19    4052
20    4032
21    3767
22    3596
23    3616
24    3993
25    4160
26    4147
27    3802
28    3946
29    3580
30    3853
31    2208
Name: arrival_date_day_of_month, dtype: int64

In [ ]:
d = pd.DataFrame(
    {   'day': week_dict.values(),
        'arrival':hotels.arrival_date_day_of_month.value_counts().sort_index(),
    }
    
)

d

    day  arrival
1   Mon     3626
2   Tue     4055
3   Wen     3855
4   Thr     3763
5   Fri     4317
6   Sat     3833
7   Sun     3665
8   Mon     3921
9   Tue     4096
10  Wen     3575
11  Thr     3599
12  Fri     4087
13  Sat     3745
14  Sun     3819
15  Mon     4196
16  Tue     4078
17  Wen     4406
18  Thr     4002
19  Fri     4052
20  Sat     4032
21  Sun     3767
22  Mon     3596
23  Tue     3616
24  Wen     3993
25  Thr     4160
26  Fri     4147
27  Sat     3802
28  Sun     3946
29  Mon     3580
30  Tue     3853
31  Wen     2208

In [ ]:
d.groupby(['day']).sum()['arrival']

day
Fri    16603
Mon    18919
Sat    15412
Sun    15197
Thr    15524
Tue    19698
Wen    18037
Name: arrival, dtype: int64