Looking at the necessary steps required before any
 machine learning takes place. It involves:

* loading the data;
* looking at the variables in the dataset, in particular, differentiate
  between numerical and categorical variables, which need different
  preprocessing in most machine learning workflows;
* visualizing the distribution of the variables to gain some insights into
  the dataset.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [9]:
train_df = pd.read_csv('./adult.data', 
                       names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                              'marital-status','occupation', 'relationship', 
                              'race', 'sex', 'capital-gain','capital-loss', 
                              'hours-per-week', 'native-country', 'class']
                       )

test_df = pd.read_csv('./adult.test', 
                       names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                              'marital-status','occupation', 'relationship', 
                              'race', 'sex', 'capital-gain','capital-loss', 
                              'hours-per-week', 'native-country', 'class'],
                      skiprows=1
)

In [10]:
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
test_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [12]:
df = pd.concat([train_df, test_df], axis=0)

In [13]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
df.shape

(48842, 15)

In [18]:
df.to_csv('adult_cencus.csv', index=False)

In [19]:
adult_df = pd.read_csv('adult_cencus.csv')
adult_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [20]:
adult_df.shape

(48842, 15)

In [21]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  object
 14  class           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [22]:
adult_df.columns = adult_df.columns.str.replace('-', '_')

In [24]:
adult_df['class'].value_counts()

 <=50K     24720
 <=50K.    12435
 >50K       7841
 >50K.      3846
Name: class, dtype: int64

In [25]:
adult_df['class'] = adult_df['class'].str.replace('.', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [26]:
adult_df['class'].value_counts()

 <=50K    37155
 >50K     11687
Name: class, dtype: int64

In [33]:
adult_df['occupation'].value_counts()

 Prof-specialty       6172
 Craft-repair         6112
 Exec-managerial      6086
 Adm-clerical         5611
 Sales                5504
 Other-service        4923
 Machine-op-inspct    3022
 ?                    2809
 Transport-moving     2355
 Handlers-cleaners    2072
 Farming-fishing      1490
 Tech-support         1446
 Protective-serv       983
 Priv-house-serv       242
 Armed-Forces           15
Name: occupation, dtype: int64

In [31]:
adult_df.sample(50)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
26366,54,State-gov,198741,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
42020,54,Self-emp-inc,117674,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
13787,43,State-gov,270721,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,55,United-States,>50K
19123,20,Private,62865,HS-grad,9,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,45,United-States,<=50K
5255,35,?,253860,HS-grad,9,Divorced,?,Unmarried,White,Female,0,0,20,United-States,<=50K
15102,76,Local-gov,169133,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,30,United-States,<=50K
33854,30,Private,242739,Bachelors,13,Divorced,Sales,Own-child,White,Female,0,0,40,United-States,<=50K
44478,48,Private,168262,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,25,United-States,>50K
29775,42,Self-emp-not-inc,238188,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,96,United-States,<=50K
6290,35,Private,317153,HS-grad,9,Never-married,Sales,Not-in-family,White,Female,0,0,40,United-States,<=50K
38273,28,Private,212068,Bachelors,13,Never-married,Sales,Not-in-family,White,Male,0,1980,40,United-States,<=50K
12276,21,Private,180339,Assoc-voc,11,Never-married,Farming-fishing,Not-in-family,White,Female,0,1602,30,United-States,<=50K
40139,47,Private,95155,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,>50K
42326,38,Private,105503,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
38754,56,Private,345730,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
32880,68,Private,257557,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0,0,40,United-States,>50K
5936,52,Private,218550,Some-college,10,Married-spouse-absent,Adm-clerical,Not-in-family,White,Female,14084,0,16,United-States,>50K
27767,36,Local-gov,150309,Assoc-voc,11,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
37107,19,Private,58471,HS-grad,9,Never-married,Craft-repair,Own-child,White,Female,0,0,40,United-States,<=50K
21893,29,Private,157262,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,45,United-States,<=50K
4419,35,Private,341643,Bachelors,13,Never-married,Other-service,Other-relative,White,Male,0,0,50,United-States,<=50K
20099,21,?,314645,Some-college,10,Never-married,?,Not-in-family,White,Female,0,0,43,United-States,<=50K
42651,40,Private,171305,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,60,United-States,>50K
36592,29,Private,195446,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
18615,27,?,251854,Bachelors,13,Married-civ-spouse,?,Wife,Black,Female,0,0,35,?,>50K
38957,58,Private,32365,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
35653,41,Private,126517,Some-college,10,Separated,Sales,Unmarried,Black,Female,0,0,20,United-States,<=50K
27826,26,Private,68001,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
40538,27,Private,201872,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States,<=50K
17329,30,Private,174789,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
4008,40,Private,92036,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K
21760,41,Private,392167,10th,6,Divorced,Sales,Not-in-family,White,Male,0,0,48,United-States,<=50K
31530,52,Private,173987,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25300,57,Private,124852,Some-college,10,Never-married,Handlers-cleaners,Own-child,Black,Male,0,0,40,United-States,<=50K
39397,40,Self-emp-inc,190650,Bachelors,13,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,0,0,45,South,>50K
28612,37,Private,236359,Some-college,10,Divorced,Adm-clerical,Not-in-family,Black,Female,0,0,37,United-States,<=50K
46047,19,Private,386492,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,16,United-States,<=50K
17988,54,Self-emp-not-inc,124865,Some-college,10,Divorced,Sales,Not-in-family,White,Female,0,0,35,United-States,<=50K
34593,30,Private,45427,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,70,United-States,<=50K
33772,37,Local-gov,347491,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
43245,57,Private,194161,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,42,Italy,>50K
21947,49,Private,262116,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,48,United-States,<=50K
32045,20,Private,184045,Some-college,10,Never-married,Sales,Unmarried,Black,Female,0,0,30,United-States,<=50K
11614,35,?,103710,Bachelors,13,Divorced,?,Unmarried,White,Female,0,0,16,?,<=50K
23637,46,Self-emp-inc,200949,Bachelors,13,Widowed,Exec-managerial,Not-in-family,White,Female,0,0,50,?,<=50K
42774,36,Self-emp-inc,173968,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
35060,29,Private,116531,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
25748,21,?,77665,Some-college,10,Never-married,?,Own-child,White,Male,0,0,35,United-States,<=50K
28288,36,Private,223433,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,7688,0,50,United-States,>50K